---
layout: base.njk
title: About
---

<p align="center">
  <img src='./assets/images/profile.png' height='200px' width='150px' />
</p>

<h1>Welcome! </h1>
<hr/>

<p>
Hi, I’m Akash — a software consultant with a passion for solving complex problems.
</p>

<p>
Currently serving at <a href="https://www.thoughtworks.com/" target="_blank">ThoughtWorks</a>, I collaborate with cross-functional teams to deliver high-impact software solutions, embracing agile methodologies and helping clients navigate complex technical and business challenges.
</p>

<p>
Over the years, I’ve worked on diverse software projects, learning new technologies and refining my skills along the way.
Whether architecting scalable cloud platforms, optimizing legacy systems, or advising on best-fit technologies, I am committed to driving efficiency and innovation.
</p>
<p>
When I’m not coding, you’ll probably find me enjoying music, playing chess, or reading books. I believe the best work comes from staying curious and continuously learning.
</p>