---
layout: base.njk
title: Writing
---
<h1>Writing</h1>
<hr />
<ul class='post-list-item'>
{% for post in collections.posts %}
  <li>
    <small><i class="fas fa-link"></i></small> <a href="{{ post.url }}">{{ post.data.title }}</a>
    <small>({{ post.date | date("dd MMM yyyy") }})</small>
  </li>
{% endfor %}
</ul>