<section>
  <center><h3>Thank You!</h3></center>
  <br />
  <ul  style="list-style: none;">
    <li> 🙏 Grateful for your time and attention </li>
    <li> ❓ Open to question and discussion </li>
  </ul>

  <hr/>
  <small>
    <p>
        This presentation is hosted on <a href="https://akashthakare.com/deck" target="_blank">akashthakare.com</a>
    </p>

    <p>Feel free to reach out to me:</p>

    <ul>
        <li>✉️ <a href="mailto:akashthakare@protonmail.com">akashthakare@protonmail.com</a></li>
        <li>💼 <a href="https://linkedin.com/in/aakashthakare" target="_blank">in/aakashthakare</a></li>
    </ul>
  </small>
</section>
