<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="icon" type="image/x-icon" href="/assets/favicon/favicon.ico">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="https://unpkg.com/reveal.js/dist/reveal.css" />
  <link rel="stylesheet" href="https://unpkg.com/reveal.js/dist/theme/black.css" />
  <script src="https://unpkg.com/reveal.js/dist/reveal.js"></script>
  <script src="https://unpkg.com/reveal.js/plugin/markdown/markdown.js"></script>

  <link rel="stylesheet" href="/assets/css/main.css">
  <script src="/assets/js/main.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/default.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/go.min.js"></script>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
  <nav>
    <ul>
      <li title='Home'><a href="/" class="{% if title == 'Welcome' %}active{% endif %}"><i class="fas fa-home"></i></a></li>
      <li title='Writing'><a href="/writing/" class="{% if title == 'Writing' or '/writing/' in page.url %}active{% endif %}"><i class="fas fa-feather"></i></a></li>
      <li title='Deck'><a href="/deck/" class="{% if title == 'Deck' %}active{% endif %}"><i class="fas fa-chalkboard"></i></a></li>
    </ul>
  </nav>
  <main>
    {% block content %}{% endblock %}
  </main>
  {{ content | safe }}
  <footer>
    <small >&copy; {{ "" | currentYear }} Akash Thakare</small>
  </footer>
  <script>
    mermaid.initialize({
      startOnLoad: true
    });
  </script>
  <script>hljs.highlightAll();</script>
</body>
</html>
