{% extends "layouts/base.njk" %}

{% block content %}

<h1 style='padding-bottom:0;margin-bottom:0'>{{ title }}</h1>

<small style='color:gray'>{{ date | date("MMMM d, yyyy") }}</small>
<small style='color:gray;float:right;'><i class="fas fa-book-open"></i> {{ content | readingTime }}</small>
<small style='color:gray;float:right;margin-right:10px;'><i class="fas fa-eye"></i>&nbsp;<span id="views"></span></small>

<hr/>

<script src="https://cdn.jsdelivr.net/npm/counterapi/dist/counter.browser.min.js"></script>
<script>
  const counterName = 'atwriting-' + '{{ page.fileSlug }}';
  
  const counter = new Counter({ 
    workspace: 'atdotcom'
  });

  document.addEventListener('DOMContentLoaded', function() {
    const counter = new Counter({ workspace: 'atdotcom' });

    counter.up(counterName)
      .then(result => {
        document.getElementById('views').textContent = result.data.up_count;
      })
      .catch(error => {
        console.error('Error tracking page view:', error);
        document.getElementById('view-count').textContent = '0';
      });
  });
</script>

{% endblock %}
